<!-- Timeline -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="twitch">
    <div class="twitch-video">
      <iframe
        src="https://www.twitch.tv/alleghenycollegeesports&parent=https://allegheny-esports-club.netlify.app/&autoplay=false"
        frameborder="0"
        scrolling="no"
        allowfullscreen="true"
        height="100%"
        width="100%">
        </iframe>
    </div>
    <div class="twitch-chat">
      <iframe
        frameborder="0"
        scrolling="no"
        src="https://www.twitch.tv/alleghenycollegeesportsparent=https://allegheny-esports-club.netlify.app/"
        height="100%"
        width="100%">
      </iframe>
    </div>
  </div>
</section>
<!-- End Timeline -->
