<!-- Timeline -->
<div style="padding-bottom: 56.25%; position: relative;">
  <iframe width="100%" height="100%" src="https://www.twitch.tv/embed/alleghenycollegeesports/chat?parent=allegheny-esports-club.netlify.app" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"  style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;">
    <small>Watch Our Twitch Stream!
      <a href="https://www.twitch.tv/embed/alleghenycollegeesports/">twitch</a>
    </small>
  </iframe>
</div>
<!-- End Timeline -->
