<!-- Timeline -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: 'timeline' }}">
  <div style="padding-bottom: 56.25%; position: relative;">
    <iframe width="100%" height="100%" src="https://player.twitch.tv/?autoplay=false&channel=alleghenycollegeesports&parent=allegheny-esports-club.netlify.app" frameborder="0" allow="picture-in-picture; fullscreen"  style="position: absolute; width: 100%; height: 100%; top: 0;"></iframe>
  </div>
  <div>
    <iframe width="100%" height="100%" src="https://www.twitch.tv/embed/alleghenycollegeesports/chat?parent=allegheny-esports-club.netlify.app" frameborder="0" style="width: 100%; height: 100%;" scrolling="no"></iframe>
  </div>
</section>
<!-- End Timeline -->
